<dialog class="rounded shadow p-4" id="turbo-confirm">
    <form method="dialog">
    <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12">
            <p id="dialog-modal-label">Are you sure?</p>
        </div>
        <div class="col-span-12 flex gap-4">
            <button value="cancel" class="rounded-lg py-1 px-3 bg-gray-100 inline-block font-medium">Cancel</button>
            <button value="confirm" class="rounded-lg py-1 px-3 bg-red-600 text-white inline-block font-medium">Confirm</button>
        </div>
    </div>
    </form>
</dialog>