<div>
  <div class="grid grid-cols-12 gap-4">
    <div class="col-span-12">
      <div class="flex">
        <input type="text" class="rounded p-1 px-2 w-64 bg-gray-50 border-gray-300" placeholder="Search">
      </div>
    </div>
    <div class="col-span-12">
      <table class="w-full">
        <thead class="text-left border-b border-b-[#efefef]">
          <tr>
            <th class="p-2">
              Type
            </th>
            <th class="p-2">
              Name
            </th>
            <th class="p-2">
              Application
            </th>
            <th class="p-2">
              Status
            </th>
            <th class="p-2">
              IP Address
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-b border-b-[#f2f2f2] hover:bg-gray-50 duration-200">
            <td class="p-2">
              Test
            </td>
            <td class="p-2">
              Test
            </td>
            <td class="p-2">
              Test
            </td>
            <td class="p-2">
              Test
            </td>
            <td class="p-2">
              Test
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
